:root {
  --color-fondo: #0a0a0a;
  --color-fondo-card: #141414;
  --color-fondo-input: #1a1a1a;
  --color-dorado: #c9a84c;
  --color-dorado-claro: #e2c068;
  --color-texto: #ffffff;
  --color-texto-secundario: #888888;
  --color-borde: #2a2a2a;
  --radio-card: 16px;
  --radio-boton: 50px;

  --ion-background-color: #0a0a0a;
  --ion-text-color: #ffffff;
  --ion-toolbar-background: #0a0a0a;
  --ion-tab-bar-background: #111111;
  --ion-tab-bar-border-color: #2a2a2a;
  --ion-color-primary: #c9a84c;
  --ion-color-primary-contrast: #000000;
}